<mat-toolbar class="navbar">
  <mat-toolbar-row class="navbar" fxLayoutAlign="space-between center">
    <div>
      <ul>
        <li class="nav-li">
          <a href="">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 14 14"
              >
                <path
                  id="icons8_dashboard_layout_1"
                  d="M3.4,2A1.41,1.41,0,0,0,2,3.4V8.3A1.41,1.41,0,0,0,3.4,9.7H6.9A1.41,1.41,0,0,0,8.3,8.3V3.4A1.41,1.41,0,0,0,6.9,2Zm7.7,0A1.41,1.41,0,0,0,9.7,3.4V5.5a1.41,1.41,0,0,0,1.4,1.4h3.5A1.41,1.41,0,0,0,16,5.5V3.4A1.41,1.41,0,0,0,14.6,2ZM3.4,3.4H6.9V8.3H3.4Zm7.7,0h3.5V5.5H11.1Zm0,4.9A1.41,1.41,0,0,0,9.7,9.7v4.9A1.41,1.41,0,0,0,11.1,16h3.5A1.41,1.41,0,0,0,16,14.6V9.7a1.41,1.41,0,0,0-1.4-1.4Zm0,1.4h3.5v4.9H11.1ZM3.4,11.1A1.41,1.41,0,0,0,2,12.5v2.1A1.41,1.41,0,0,0,3.4,16H6.9a1.41,1.41,0,0,0,1.4-1.4V12.5a1.41,1.41,0,0,0-1.4-1.4Zm0,1.4H6.9v2.1H3.4Z"
                  transform="translate(-2 -2)"
                  fill="#fff"
                  opacity="0.9"
                />
              </svg>
            </div>
            <div class="item-name">داشبورد</div>
          </a>
        </li>
        <li class="nav-li">
          <a href="">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15.25"
                height="15.25"
                viewBox="0 0 15.25 15.25"
              >
                <path
                  id="icons8_futures_1"
                  d="M8.865,3V17.077H7.692V5.346H4.173V17.077H3V18.25H18.25V17.077H17.077V9.452H13.558v7.625H12.385V3Zm1.173,1.173h1.173v12.9H10.038Z"
                  transform="translate(-3 -3)"
                  fill="#fff"
                  opacity="0.7"
                />
              </svg>
            </div>
            <div class="item-name">مالی</div>
          </a>
        </li>
        <li class="nav-li">
          <a href="">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18.417"
                height="14.734"
                viewBox="0 0 18.417 14.734"
              >
                <path
                  id="icons8_truck_2"
                  d="M1,4V16.892H2.938a2.433,2.433,0,0,0,4.719,0h5.1a2.433,2.433,0,0,0,4.719,0h1.938V10.5l-.173-.192L15.561,6.628l-.192-.173H12.05V4ZM2.228,5.228h8.595V15.664H7.657a2.433,2.433,0,0,0-4.719,0h-.71ZM12.05,7.683h2.8l3.338,3.338v4.643h-.71a2.433,2.433,0,0,0-4.719,0h-.71ZM5.3,15.05a1.228,1.228,0,1,1-1.228,1.228A1.218,1.218,0,0,1,5.3,15.05Zm9.822,0a1.228,1.228,0,1,1-1.228,1.228A1.218,1.218,0,0,1,15.12,15.05Z"
                  transform="translate(-1 -4)"
                  fill="#fff"
                  opacity="0.7"
                />
              </svg>
            </div>
            <div class="item-name">بازرگانی</div>
          </a>
        </li>
        <li class="nav-li">
          <a href="">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="13.44"
                viewBox="0 0 16 13.44"
              >
                <path
                  id="icons8_safe_1"
                  d="M4,6V18.8H5.28v.64H7.84V18.8h7.68v.64h2.56V18.8h1.28V15.6H20V13.68h-.64V11.12H20V9.2h-.64V6ZM5.28,7.28h12.8V17.52H5.28ZM13.6,9.2a3.2,3.2,0,1,0,3.2,3.2A3.209,3.209,0,0,0,13.6,9.2Zm-6.4.64a.641.641,0,0,0-.64.64v3.84a.64.64,0,0,0,1.28,0V10.48A.641.641,0,0,0,7.2,9.84Zm6.4.64a1.92,1.92,0,1,1-1.92,1.92A1.911,1.911,0,0,1,13.6,10.48Zm0,1.28a.64.64,0,1,0,.64.64A.641.641,0,0,0,13.6,11.76Z"
                  transform="translate(-4 -6)"
                  fill="#fff"
                  opacity="0.6"
                />
              </svg>
            </div>
            <div class="item-name">خزانه داری</div>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="!deviceXs">
      <ul>
        <li>
          <a href="">
            <div>ابزارها</div>
            <div class="item-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10.414"
                height="5.182"
                viewBox="0 0 10.414 5.182"
              >
                <path
                  id="icons8_expand_arrow"
                  d="M2.781,11.062l3.783,3.782.217.208L7,14.844l3.782-3.782Z"
                  transform="translate(-1.574 -10.562)"
                  fill="#fff"
                  stroke="#fff"
                  stroke-width="1"
                />
              </svg>
            </div>
          </a>
        </li>
        <li class="add-logo item-name">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.999"
            height="14.999"
            viewBox="0 0 14.999 14.999"
          >
            <path
              id="icons8_add"
              d="M18.446,12.846v5.6h-5.6v2.8h5.6v5.6h2.8v-5.6h5.6v-2.8h-5.6v-5.6Z"
              transform="translate(-12.346 -12.346)"
              fill="#1e90ff"
              stroke="#fff"
              stroke-width="1"
            />
          </svg>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row
    *ngIf="deviceXs"
    class="navbar"
    fxLayoutAlign="space-between center"
    ><div>
      <a href="">
        <div>اضافه کردن</div>
        <div class="add-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.999"
            height="14.999"
            viewBox="0 0 14.999 14.999"
          >
            <path
              id="icons8_add"
              d="M18.446,12.846v5.6h-5.6v2.8h5.6v5.6h2.8v-5.6h5.6v-2.8h-5.6v-5.6Z"
              transform="translate(-12.346 -12.346)"
              fill="#1e90ff"
              stroke="#fff"
              stroke-width="1"
            />
          </svg>
        </div>
      </a>
    </div>
    <div>
      <a href="">
        <div>ابزارها</div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10.414"
            height="5.182"
            viewBox="0 0 10.414 5.182"
          >
            <path
              id="icons8_expand_arrow"
              d="M2.781,11.062l3.783,3.782.217.208L7,14.844l3.782-3.782Z"
              transform="translate(-1.574 -10.562)"
              fill="#fff"
              stroke="#fff"
              stroke-width="1"
            />
          </svg>
        </div>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
