.side-nav-content{
    display: flex;
    flex-direction: column;
     padding: 20px;
}

.sidenav-content-divider{
    margin-bottom: 50px;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-button{
    border: none;
    background-color: #ffffff;
}

.content-search-mini{
    min-width: 260px;
    height: 32px;
    border: #707070 solid 1px;
    border-radius: 1px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.sidenav-secondpart-select{
    width: 263px; 
}

.sidenav-drawer-footer{
    position: fixed;
    margin: 5px;
}

.sidenav-drawer-footer-mini{
    position: fixed;
    top: 608px;
    margin: 5px;
}