<!--<div class="form-container mat-elevation-z5">
  <h1 class="text-center">ثبت نام</h1>
  <form>
    <div class="text-center container-input">
        <label for="name">نام</label>
      <input placeholder="نام" type="text" name="name" [(ngModel)]="name" />
    </div>
    <div class="text-center container-input">
        <label for="family">فامیل</label>
      <input placeholder="نام خانوادگی" type="text" name="family" [(ngModel)]="family" />
    </div>
    <div class="text-center container-input">
        <label for="email">ایمیل</label>
      <input placeholder="ایمیل" type="text" name="email" [(ngModel)]="email" />
    </div>
    <div class="text-center container-input">
        <label for="phone">تلفن</label>
      <input placeholder="تلفن" type="number" name="phone" [(ngModel)]="phone" />
    </div>
    <div class="text-center container-input">
        <label for="nationalCode">کد ملی</label>
      <input placeholder="کدملی" type="text" name="nationalCode" [(ngModel)]="nationalCode" />
    </div>
    <div class="text-center container-input">
        <label for="password">پسوورد</label>
      <input placeholder="پسوورد" type="number" name="password" [(ngModel)]="password" />
    </div>
    <div class="text-center container-input">
        <label for="picture">تصویر</label>
      <input placeholder="تصویر" type="file" name="picture" [(ngModel)]="picture" />
    </div>
    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
      <button mat-raised-button color="primary" (click)="fireAddUser()">ثبت نام</button>
    </div>
  </form>
  <span class="center">
    <a href="adminpanel" class="sign-up-link"> برای ورود به پنل مدیریت کلیک کنید!</a>
  </span>
</div>-->

<div class="main">
  <form [formGroup]="signupForm">
    <h2>ثبت نام</h2>
    <input type="text" placeholder="نام" name="name" [(ngModel)]="name" formControlName="Name"/>
    <span
      style="color: red; margin: 5px"
      *ngIf="Name && Name.invalid"
      >نام رابه صورت صحیح وارد کنید</span
    >
    <input
      type="text"
      placeholder=" نام خانوادگی"
      name="Family"
      [(ngModel)]="family"
      formControlName="Family"
    />
    <span
      style="color: red; margin: 5px"
      *ngIf="Family && Family.invalid"
      >فامیل رابه صورت صحیح وارد کنید</span
    >
    <input type="text" placeholder="ایمیل" name="Email" [(ngModel)]="email"
    formControlName="Email" />
    <span
      style="color: red; margin: 5px"
      *ngIf="Email && Email.invalid"
      >ایمیل رابه صورت صحیح وارد کنید</span
    >
    <input
      type="number"
      placeholder="پسوورد"
      name="Password"
      [(ngModel)]="password"
      formControlName="Password"
    />
    <span
      style="color: red; margin: 5px"
      *ngIf="Password && Password.invalid"
      >پسوورد رابه صورت صحیح وارد کنید</span
    >
    <input type="number" placeholder="تلفن" name="Phone" [(ngModel)]="phone" 
    formControlName="Number"/>
    <span
      style="color: red; margin: 5px"
      *ngIf="Phone && Phone.invalid"
      >تلفن رابه صورت صحیح وارد کنید</span
    >
    <input
      type="text"
      placeholder="کدملی"
      name="Nationalcode"
      [(ngModel)]="nationalCode"
      formControlName="NationalCode"
    />
    <span
      style="color: red; margin: 5px"
      *ngIf="NationalCode && NationalCode.invalid"
      >کدملی رابه صورت صحیح وارد کنید</span
    >
    <input
      type="file"
      placeholder="تصویر"
      name="Picture"
      [(ngModel)]="picture"
      formControlName="Picture"
    />
    <span
      style="color: red; margin: 5px"
      *ngIf="Picture && Picture.invalid"
      >تصویر رابه صورت صحیح انتخاب کنید</span
    >
    <button style="cursor: pointer" (click)="fireAddUser()">ثبت نام</button>
    <p>
      ادمین هستید؟ &nbsp; &nbsp;<a href="adminpanel"
        >برای ورود به پنل مدیریت اینجا کلیک کنید</a
      >
    </p>
  </form>
</div>
