<div style="padding-right: 10%; padding-left: 10%; padding-top: 5%;">
<h1 class="text-center" style="font-weight: bold;">پنل مدیریت</h1>
<br>
<hr>
<hr>
<br>
<h2 class="text-center">لیست ثبت نام شدگان</h2>
<table class="table table-striped">
  <thead>
    <th>ای دی</th>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th>ایمیل</th>
    <th>تلفن</th>
    <th>پسوورد</th>
    <th>تصویر</th>
    <th>کد ملی</th>
    <th>گرفتن دسترسی به کاربری</th>
    <th>حذف از لیست ثبت نام شدگان</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of registeredList$ | async">
      <td class="text-center bold">{{ item.name }}</td>
      <td class="text-center bold">{{ item.id }}</td>
      <td class="text-center bold">{{ item.family }}</td>
      <td class="text-center bold">{{ item.email }}</td>
      <td class="text-center bold">{{ item.phone }}</td>
      <td class="text-center bold">{{ item.password }}</td>
      <td class="text-center bold">{{ item.picture }}</td>
      <td class="text-center bold">{{ item.nationalCode }}</td>
      <td class="text-center bold">
        <button
          (click)="fireAddToUsers(item.id)"
          id="user{{ item.id }}"
          mat-stroked-button
          color="primary"
          class="bold"
        >
          افزودن به لیست کاربران
        </button>
      </td>
      <td class="text-center">
        <button 
          (click)="fireDeletePerson(item.id)"
          id="delete{{ item.id }}"
          mat-stroked-button
          color="warn"
          class="bold"
        >
           حذف از لیست ثبت نام شدگان
        </button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 class="text-center">لیست افراد اضافه شده به لیست کاربران</h2>
<table class="table table-striped">
  <thead>
    <th>ای دی</th>
    <th>ای دی کاربر در لیست ثبت نامی ها</th>
    <th>گرفتن نقش</th>
    <th>حذف از لیست کاربران</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList$ | async">
      <td class="text-center bold">{{ item.id }}</td>
      <td class="text-center bold">{{ item.registerId }}</td>
      <td class="text-center bold">
        <button
          (click)="fireAddRoll(item.id)"
          id="user{{ item.id }}"
          mat-stroked-button
          color="primary"
          class="bold"
        >
          منتصب کردن کاربر به یک نقش
        </button>
      </td>
      <td class="text-center">
        <button 
          (click)="fireDeleteUser(item.id)"
          id="delete{{ item.id }}"
          mat-stroked-button
          color="warn"
          class="bold"
        >
          حذف از لیست کاربران
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>