<div class="tab-container" *ngIf="!deviceXs">
  <p class="title">پنل مدیریت</p>
  <mat-tab-group>
    <mat-tab label="اطلاعات شخصی " class="hover-color"> </mat-tab>
    <mat-tab label=" شخصی سازی " class="hover-color"> </mat-tab>
    <mat-tab label="کاربران " class="hover-color"> </mat-tab>
    <mat-tab label=" نقش ها/ سطوح دسترسی" class="hover-color"> </mat-tab>
    <mat-tab label=" اشتراک ها" class="hover-color"> </mat-tab>
    <mat-tab label="دستگاه ها" class="hover-color"> </mat-tab>
  </mat-tab-group>
</div>
