.title{
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.tab-container{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.hover-color{
    font-size: 12px;
    color: #747D8C;
    font-weight: bold;
}

.detail-navbar-container{
    display: flex;
    justify-content: space-between;
}

.detail-navbar-style{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 0px;
}

.detail-navbar-style li a{
    text-decoration: none;
    color: #747D8C;
    font-size: 15px;
    margin-left: 15px;
}

.detail-navbar-style li a:hover{
    color:#1E90FF;
}