.title{
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.tab-container{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.hover-color{
    font-size: 12px;
    color: #747D8C;
    font-weight: bold;
}

.hover-color:hover{
    color:#1E90FF;
}
